<!-- Create blank div to put meetupAPI into DOM, so it can be passed to meetupApi.js jQuery -->
<div id="meetupApi" data-meetupapi="{{ site.data.clubInfo.meetupApi }}"></div>


<div class="btn_meetup" >
   
    <a href="{{ site.data.clubInfo.meetupSite }}" alt="meetup date">
        <div class="meetup_text">
            
            <div id="theDate"></div>
            <div id="theDateIndices"></div>
            <!-- <div id="gap"></div>    -->        
            <p id="theMonth"></p>
            
        
        </div>
    </a>
    
    <div class="butmeetupshadow"></div>
    
</div>
