<!-- jQuery -->
<script   src="{{site.baseurl}}/js/jquery-2.2.4.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>


<!-- Plugin JavaScript -->
<script src="{{site.baseurl}}/js/jquery.easing.min.js"></script>
<script src="{{site.baseurl}}/js/classie.min.js"></script>
<script src="{{site.baseurl}}/js/cbpAnimatedHeader.min.js"></script>

<!--  Meetup API call  -->
<script src="{{site.baseurl}}/js/meetup_api.js"></script>

<!-- Contact Form JavaScript -->
<script src="{{site.baseurl}}/js/jqBootstrapValidation_.min.js"></script> 
<script src="{{site.baseurl}}/js/contact_formspree.js"></script>  
    
<!-- Custom Theme JavaScript -->
<script src="{{site.baseurl}}/js/toast_wp.js"></script>